<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653218895930-setvs1r1k8qg2136u23t2gojhovam17k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653218895930-setvs1r1k8qg2136u23t2gojhovam17k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653218895930-13hu47jmv6r34bkuiqpolpkvhfiaprrj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3Om9uT5utoVfSALzSn4_DMl9My0zN1-M</string>
	<key>GCM_SENDER_ID</key>
	<string>653218895930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ct-antstudio-v1</string>
	<key>PROJECT_ID</key>
	<string>ct-antstudio-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>ct-antstudio-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653218895930:ios:77f9f3f66d854f674d7d03</string>
	<key>DATABASE_URL</key>
	<string>https://ct-antstudio-v1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>